<launch>

    <arg name="hostname" default="127.0.1.1"/>
    <arg name="tf_prefix" default="no_prefix"/>
    <arg name="use_tf_prefix" default="false" />

    <node pkg="robotino_node" type="robotino_node" name="robotino_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="max_linear_vel" value="1.0" />
        <param name="min_linear_vel" value="0.05" />
        <param name="max_angular_vel" value="0.5" />
        <param name="min_angular_vel" value="0.01" />
        <param name="ns_room_id" value="3" />
        <param name="ns_ceil_height" value="3.0" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
        <remap from="robotino_joint_states" to="joint_states" />
        <!--remap from="image_raw" to="image"/-->
    </node>

    <node pkg="robotino_node" type="robotino_odometry_node" name="robotino_odometry_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="20.0" />
        <param name="tf_prefix" value="$(arg tf_prefix)" if="$(arg use_tf_prefix)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster_from_launch_file" args="0.13 0 0.05 0 0 0 base_link laser_link 100" unless="$(arg use_tf_prefix)"/>

    <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster_from_launch_file" args="0.13 0 0.05 0 0 0 $(arg tf_prefix)/base_link $(arg tf_prefix)/laser_link 100" if="$(arg use_tf_prefix)"/>

    <param name="robot_description" textfile="$(find robotino_description)/urdf/robotino.urdf" />

</launch>
